<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SORepository</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SORequestServlet</display-name>
    <servlet-name>SORequestServlet</servlet-name>
    <servlet-class>br.com.sorepository.controller.servlet.SORequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SORequestServlet</servlet-name>
    <url-pattern>/getList.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SORefreshServlet</display-name>
    <servlet-name>SORefreshServlet</servlet-name>
    <servlet-class>br.com.sorepository.controller.servlet.SORefreshServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SORefreshServlet</servlet-name>
    <url-pattern>/refreshSO.do</url-pattern>
  </servlet-mapping>
</web-app>